
.mainContainer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}

.onboardingContainer {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}

.resultContainer,
.historyItem {
  flex-direction: row;
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}

.historyContainer {
  flex-direction: column;
  display: flex;
  height: 200px;
  align-items: center;
  flex-grow: 5;
  justify-content: flex-start;
}

/* Home.js */
.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 260px;
}

/* Email and Password Fields */
.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.inputContainer > .errorLabel {
  color: red;
  font-size: 12px;
}

.inputBox {
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
}

/*Started editing from here*/
.redUnderlineButton {
  color: red;
  border: none;
  text-decoration: underline;
  background-color: transparent;
  cursor: pointer;
}

.redUnderlineButton:hover {
  text-decoration: none;
}

/* createUserInfo Workout Eg */
.interestsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  grid-gap: 10px; /* Adjust the gap between items */
}

.interestItem {
  color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the text horizontally */
  cursor: pointer;
  background-color:lightcoral;
  padding: 12px 24px;
  border-radius: 30px;
  border: none 
}

.selectedWorkout {
  background-color: forestgreen; /* Change this to your desired highlight color */
}

#Gender {
    /* Styles for the dropdown menu */
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: #f9f9f9;
    width: 200px; /* Adjust width as needed */
    cursor: pointer; /* Show pointer cursor on hover */
    margin: 0 auto; /* Center horizontally */
  }

.passwordLI{
  position: relative; /* Set position to relative */
  right: -360px; /* Shift 10 pixels to the right */
  top: -37px; /* Shift 5 pixels up */
  width: 30px;
  height:auto
}

.passwordSU{
  position: relative; /* Set position to relative */
  right: -360px; /* Shift 10 pixels to the right */
  top: -37px; /* Shift 5 pixels up */
  width: 30px;
  height:auto
}

/*For Nav Bar*/

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add drop shadow */
  padding: 5px;
}

.logo {
  margin-right: 20px; /* Adjust the spacing between the logo and the links */
}

.links {
  display: flex;
  flex-grow: 1; /* Allow the links to grow and take up remaining space */
  justify-content: space-evenly; /* Align the links to the right */
}

.links a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black; /* Change the color as needed */
  margin: 0 10px; /* Adjust the spacing between navigation items */
}

.links a:hover {
  text-decoration: underline;
  transform: scale(1.1); /* Increase the size by 10% */
}

.links img {
  width: 50px; /* Adjust the image size as needed */
  height: auto;
}

.links img.create-session-img {
  width: 40px; /* Adjust the width as needed */
  height: auto; /* Allow the height to adjust proportionally */
}


/*
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/