.explore-page {
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* two columns with equal width */
    grid-template-rows: 1fr;
    /* first row auto-sized, second row fills remaining space */
    grid-gap: 20px;
    /* gap between grid items */
  
    /* additional styling */
    padding: 20px;

    min-height: 90vh;
  }
  
  .enter-details {
    grid-row: 1 / span 1;
    /* first row */
    grid-column: 1 / span 1;
    width: auto;
    /* first column */
  }
  
  #details-panel{
    background-color: #dfe3f1;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    width: auto;
    height: auto;
    border-radius: 2px;
    border: 1px solid rgb(103, 100, 100);
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: large;
    margin-top: auto;
  }
  
  .locationInput {
    display: grid;
    grid-template-areas: 'top top''search button';
    flex-direction: row;
    width: auto
  }


  .map {
    grid-row: 1 / span 2;
    /* span two rows */
    grid-column: 2 / span 1;
    /* second column */
  }
  
  .enter-details form {
    display: flex;
    flex-direction: column;
  }
  
  .enter-details {
    display: flex;
    flex-direction: column;
    margin-top: 10 px;
  }

  .searchRadius {
    display: flex;
    flex-direction: column;
    margin-top:10px;
  }
  
  .enter-details .searchRadius label {
    
    margin-bottom: 5px;
  
  }
  
  .enter-details .searchRadius select {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
   .locationInput label {
    grid-area: top;
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .enter-details .locationInput input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .enter-details .locationInput button[type="submit"] {
    background-color: #fdc0c0;
    color: rgb(1, 1, 1);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: auto;
    width: auto;
    margin-bottom: 10px;
  }
  
  .enter-details .locationInput button[type="submit"]:hover {
    background-color: #f77e7e;
  }
  
  .enter-details h2 {
    margin-top: 0;
    margin-bottom: 100px;
  }


  .close-button {
    position: absolute;
    top: 0px;
    right: 0px; 
    cursor: pointer;
    background: red;
    color: white;
    border: none;
    border-radius: 0 10px 0 10px; 
    z-index: 1100; 
    padding: 5px 10px; 
  }

  .submit-button {
    border-radius: 20px;
    margin-left: 40%;
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: auto;
    max-width: 100px;
    margin-bottom: 10px;
  }
  
  .direction-button {
    background-color: red; /* Red background */
    color: white; /* White text */
    border: none; /* Removes the default border */
    padding: 8px 10px; /* Adds some padding around the text */
    border-radius: 15px; /* Rounds the corners of the button */
    cursor: pointer; /* Changes the mouse cursor to a pointer on hover */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adds a shadow */
    font-weight: bold;
  }